.om-oss-header {
  text-align: center;
}

.om-oss {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}

.about-link {
  display: block;
  text-align: left;
  margin-left: 3em;
}

.pencil-img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .about-section {
    margin: 0 auto;
    text-align: left;
  }

  .om-oss-header {
    text-align: left;
    margin: 2em;
  }

  .pencil-img {
    margin-right: 3em;
    margin-bottom: 3em;
    width: 630px;
    float: left;
  }

  #footer {
    clear: both;
  }

  .about-link {
    text-align: left;
    margin: 3em;
  }
}
