.box {
  box-sizing: border-box;
  max-width: 1000px;
  border: white solid 1px;
  margin: 50px;
  box-shadow: 10px 10px gray;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;

  .img-container {
    .phone-img {
      width: 100%;
      float: left;
      background-color: yellow;
    }
    .contact-index {
      text-align: left;
      font-size: 20px;
    }
    .good-to-know {
      display: block;
      margin-top: 350px;
    }
  }
}

@media screen and (max-width: 414px) {

  .contactinfo {
    text-align: left;
    margin: 10px;
    white-space: normal;
  }
}
