.law-hline {
  width: 95%;
  margin: 2% /*20px 5px*/;
  padding: 20px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: grey;
  border-radius: 15px;
}

.law-hline h2 {
  text-align: justify;
  margin-top: 3px;
}

.main-art {
  margin: 2%;
}
.law-links {
  margin: 1%;
}
.law-list a {
  text-decoration: none;
  color: black;
}

.lawmenu {
  list-style-type: none;
  margin: 2px 2px;
  padding: 2px 2px;
  overflow: hidden;
}

.lawmenu li {
  float: left;
  padding: 20px 10px;
  margin: 2%;
  margin-left: 2%;
  margin-top: 2px;
  background-color: grey;
  border-radius: 15px;
}

.law-list .lawmenu li .law-links:hover {
  background-color: rgb(209, 207, 207);
  border-radius: 5px;
  color: yellow;
  padding: 5px;
  position: relative;
  animation: move 5s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {top: -10px}
  to {top: 30px; background-color: black;}
}

.laws-img {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
}

.lawcol-img {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
}
.art-2 {
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  background-color: rgb(192, 189, 189);
  display: inline-block;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  clear: both;
}

.art-2 a {
  color: blue;
  font-style: italic;
}