h2 {
  width: 100%;
  margin: 2%;
  padding: 10px;
  display: inline-block;
  background-color: grey;
  border-radius: 15px;
}

.main-art {
  margin: 2%; 
}
a {
  text-decoration: none;
  color: black;
}


.menu {
  list-style-type: none;
  margin: 2px 2px;
  padding: 2px 2px;
  overflow: hidden;
}

.menu li {
  float: left;
  padding: 10px 10px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: grey;
  border-radius: 15px;   
}

.side-list .menu li a:hover {
  background-color: rgb(209, 207, 207);
  border-radius: 5px;
  color: yellow;
  padding: 2px;
}

.side-img {
  float: left;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.column-img {
  width: auto;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
}
.art-2 {
  margin-left: 2%;
  margin-top: 2%;
  width: 100%;
  background-color: rgb(192, 189, 189);
  display: inline-block;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  clear: both;
}

.art-2 a {
  color: blue;
  font-style: italic;
}
