.heading {
  margin: 10px;
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 16px;
  }
}

#newsroom {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;

  .act {
    text-align: center;
    margin: 0 auto;
    .news-picture {
      max-width: 100%;
      height: auto;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      position: relative;


    }
    .act-text {
      position: relative;
      background-color: white;
      margin: 145px;
      margin-right: 146px;
      margin-bottom: 0;
    }
  }

  .press {
    text-align: center;
    margin: 0 auto;
    .news-picture {
      max-width: 100%;
      height: auto;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      position: relative;


    }
    .press-text {
      position: relative;
      background-color: white;
      margin: 135px;
      margin-right: 135px;
      margin-bottom: 0;
    }
  }

  .cal {
    text-align: center;
    margin: 0 auto;
    .news-picture {
      max-width: 100%;
      height: auto;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      position: relative;


    }
    .cal-text {
      position: relative;
      background-color: white;
      margin: 145px;
      margin-right: 146px;
      margin-bottom: 0;
    }
  }
}





@media screen and (max-width: 415px) {
  .heading {
    max-width: 100%;
    h2 {
      max-width: 320px;
    }
  }

  #newsroom {
    text-align: center;
    margin: 0 auto;
    .act {
      text-align: center;
      margin: 0 auto;
      .news-picture {
        max-width: 80%;
        height: auto;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        position: relative;
        margin-left: -40px;
      }
      .act-text {
        position: relative;
        background-color: white;
        margin: 20px;
        margin-right: 65px;
        margin-bottom: 0;
      }
    }

    .press {
      text-align: center;
      margin: 0 auto;
      .news-picture {
        max-width: 80%;
        height: auto;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        position: relative;
        margin-left: -40px;

      }
      .press-text {
        position: relative;
        background-color: white;
        margin: 20px;
        margin-right: 60px;
        margin-bottom: 0;
      }
    }

    .cal {
      text-align: center;
      margin: 0 auto;
      .news-picture {
        max-width: 80%;
        height: auto;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        position: relative;
        margin-left: -40px;

      }
      .cal-text {
        position: relative;
        background-color: white;
        margin: 20px;
        margin-right: 60px;
        margin-bottom: 0;
      }
    }
  }




@media screen and (min-width: 1920px) {
  #newsroom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
}