html {
  width: 100%;
}

#newsroom {
  position: relative;
  text-align: center;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: fit-content;
}

.heading {
  margin: 10px;
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 16px;
  }
}

.act {
  max-width: 100%;
  height: auto;
  border: gray solid transparent;
  border-radius: 10%;
  box-shadow: 0px 10px #c0c0c0;
  background-color: white;
  img {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;

    h1 {
      position: relative;
    }
  }
}

.press {
  max-width: 100%;
  height: auto;
  border: gray solid transparent;
  border-radius: 10%;
  box-shadow: 0px 10px #c0c0c0;
  background-color: white;

  img {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;
    h1 {

      position: absolute;
    }
  }
}

.cal {
  max-width: 100%;
  height: auto;
  border: gray solid transparent;
  border-radius: 10%;
  box-shadow: 0px 10px #c0c0c0;
  background-color: white;

  img {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;

    h1 {

      position: absolute;
    }
  }
}

@media screen and (max-width: 415px) {
  .heading {
    max-width: 100%;
    h2 {
      max-width: 320px;
    }
  }

  #newsroom {
    margin-left: 35px;
  }

  .act {
    max-width: 280px;
  }

  .press {
    max-width: 280px;
  }

  .cal {
    max-width: 280px;
  }
}