* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

.h1 {
    text-align: center;
    margin-top: 3rem;
}

.publications {
    display: grid;
    grid-template-columns: auto;
}

.publication-item {
    margin-top: 2rem;
    /*border: 1px solid black;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 1rem 1rem;
}

.active-page {
    text-align: center;
    margin-top: 2rem;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.social-media {
    margin-top: 5rem;
}

.share {
    text-align: center;
    font-size: xx-large;
}

.media-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.icon {
    font-size: 400%;
    color: dodgerblue;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
}

@media only screen and (min-width: 1280px) {
    .publications {
        display: grid;
        grid-template-columns: auto auto;
    }

    .publication-item {
        margin-top: 2rem;
        margin-left: 1rem !important;
        /*border: 1px solid black;*/
        padding: 1rem 1rem;
    }
}