@import "./variables.scss";
.side-note {
  font-style: italic;
}

.statistic-container {
  border: solid rgb(226, 226, 226) 1px;
  padding: 0 20px 20px 20px;
  background-color: white;
}

.statstic-btn-group{
  padding: 20px 0;
}
.search-button {
  width:100px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: $tertiary;
  color: $primary;
  border: 1px solid $tertiary;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 19px;
  line-height: 1.3;
  border-radius: 0;
}

.clear-button {
    margin-left: 10px;
}

#statistic select {
   @media only screen and (max-width: 480px) {
      width: 100%;
    }
}